{extends file="admin-layout.tpl"}

{block name="no-return-functions"}
    {$admin_current_location = 'tools'}

    {$page = $smarty.get.page|default:1}
    {$order = $smarty.get.order|default:'sold_count_reverse'}

    {$maxYear = $smarty.now|date_format:'%Y'}
    {$minYear = $maxYear}
    {loop type="order" name="first-order" customer="*" order="create-date" limit=1}
        {$minYear = {format_date date=$CREATE_DATE format="Y"}}
    {/loop}

    {$startDate = $smarty.get.startDate|default:"$minYear-01-01"}
    {$endDate = $smarty.get.endDate|default:$smarty.now|date_format:'%Y-%m-%d'}
{/block}

{block name="page-title"}{intl l='Best sellers' d='bestsellers.bo.default'}{/block}

{block name="check-resource"}admin.bestsellers{/block}
{block name="check-access"}view{/block}

{block name="main-content"}
    <div id="wrapper" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="general-block-decorator">
                    <form class="form-inline" action="{url path="/admin/best-sellers"}" method="GET" style="margin-bottom: 20px;">
                        <input type="hidden" name="order" value="{$order}">

                        <div class="form-group">
                            <label for="start-date">{intl l='View from : ' d='bestsellers.bo.default'}</label>
                            <input id="start-date" class="form-control datecombo" data-format="YYYY-MM-DD" data-template="DD / MM / YYYY" name="startDate" value="{$startDate}" type="text">
                        </div>

                        <div class="form-group">
                            <label for="end-date">{intl l=' to : ' d='bestsellers.bo.default'}</label>
                            <input id="end-date" class="form-control datecombo" data-format="YYYY-MM-DD" data-template="DD / MM / YYYY" name="endDate" value="{$endDate}" type="text">
                        </div>

                        <button type="submit" class="btn btn-primary">{intl l='View' d='bestsellers.bo.default'}</button>
                    </form>

                    {ifloop rel="sales-count"}
                    <table class="table table-bordered table-condensed table-hover">
                        <thead>
                        <tr>
                            <th>
                                {admin_sortable_header
                                current_order=$order
                                order='ref'
                                reverse_order='ref_reverse'
                                path='/admin/best-sellers'
                                label={intl l="Product reference" d='bestsellers.bo.default'}
                                }
                            </th>
                            <th>
                                {admin_sortable_header
                                current_order=$order
                                order='alpha'
                                reverse_order='alpha_reverse'
                                path='/admin/best-sellers'
                                label={intl l="Product title" d='bestsellers.bo.default'}
                                }
                            </th>
                            <th class="text-right">
                                {admin_sortable_header
                                current_order=$order
                                order='sold_count'
                                reverse_order='sold_count_reverse'
                                path='/admin/best-sellers'
                                label={intl l="Sales total" d='bestsellers.bo.default'}
                                }
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {loop type="best_selling_products" name="sales-count" backend_context=true visible='*' order=$order limit=20 page=$page start_date=$startDate end_date=$endDate return_url=false}
                            <tr>
                                <td><a href="{url path="/admin/products/update" product_id=$ID}">{$REF}</a></td>
                                <td><a href="{url path="/admin/products/update" product_id=$ID}">{$TITLE}</a></td>
                                <td class="text-right">{$SOLD_QUANTITY|round}</td>
                            </tr>
                        {/loop}
                        <tfoot>
                        <tr>
                            <td colspan="100">
                                {include
                                file           = "includes/pagination.html"
                                loop_ref       = "sales-count"
                                max_page_count = 10
                                page_url       = {url path="/admin/best-sellers" order=$order startDate=$startDate endDate=$endDate}
                                }

                            </td>
                        </tr>
                        </tfoot>

                    </table>
                    {/ifloop}

                    {elseloop rel="sales-count"}
                        <div class="alert alert-info">
                            {intl l="You have not sold any products yet" d='bestsellers.bo.default'}
                        </div>
                    {/elseloop}
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="javascript-initialization"}
    <script src="{javascript file="/assets/js/moment-with-locales.min.js"}"></script>
    <script src="{javascript file="/assets/js/bootstrap-editable/bootstrap-editable.js"}"></script>
    <script>
        $(function(){
            $('.datecombo').combodate({
                minYear: {$minYear},
                maxYear: {$maxYear},
                firstItem: 'none'
            });

            $('select', '.combodate').addClass('form-control');
        })
    </script>
{/block}
