{ifloop rel="best-selling"}
    <section id="best-selling-products" class="grid">
        <div class="products-heading">
            <h2>{intl l="Best sellers" d="bestsellers.fo.default"}</h2>
        </div>

        <div class="products-content">
            <ul class="products-grid list-unstyled row">
                {loop name="best-selling" type="best_selling_products" limit="4" order="sold_count_reverse"}
                {include file="components/SingleProduct/SingleProduct.html" colClass="col-md-3 col-sm-4" product_id=$ID hasBtn=false hasDescription=false width="218" height="146"}
                {/loop}
            </ul>
        </div>
    </section>
{/ifloop}
